<!DOCTYPE html>
<html>

<head>

    <title>NFL Expectations</title>
    <meta charset="utf-8">

    <!--Scripts-->
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/website.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/sliders.js"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NFL Big Data</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/situations">Choose a Situation</a></li>
                <li class="active"><a href="/expectations">Check your expectations</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-app="myApp" ng-controller="customersCtrl">
        <div class="page-header">
            <h1>NFL Situational Statistics</h1>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="down">Down:</label>
                <select class="form-control" id="down" ng-model="down" ng-init="down='1'">
                    <option value="1">First Down</option>
                    <option value="2">Second Down</option>
                    <option value="3">Third Down</option>
                    <option value="4">Fourth Down</option>
                    <option value="0">Extra Point</option>
                </select>
            </div>
            <div class="form-group">
                <label for="togo-amount"></label>
                <input type="text" id="togo-amount" style="border:0;font-weight:bold;width:100%;">

                <div id="slider-range-togo"></div>
            </div>
            <div class="form-group">
                <label for="ydline-amount"></label>
                <input type="text" id="ydline-amount" style="border:0;font-weight:bold;width:100%;">

                <div id="slider-range-ydline"></div>
                <img src="/images/football_field.png" id="field-background" style="width:100%;" class="img-responsive center-block" />
            </div>
            <div class="form-group">
                <label for="team">Team on Offense</label>
                <select class="form-control" id="team" ng-model="team" ng-init="team='ANY'">
                    <option value="ANY">Any Team</option>
                    <option value="ARI">Arizona Cardinals</option>
                    <option value="ATL">Atlanta Falcons</option>
                    <option value="BAL">Baltimore Ravens</option>
                    <option value="BUF">Buffalo Bills</option>
                    <option value="CAR">Carolina Panthers</option>
                    <option value="CHI">Chicago Bears</option>
                    <option value="CIN">Cincinnati Bengals</option>
                    <option value="CLE">Cleveland Browns</option>
                    <option value="DAL">Dallas Cowboys</option>
                    <option value="DEN">Denver Broncos</option>
                    <option value="DET">Detroit Lions</option>
                    <option value="GB">Green Bay Packers</option>
                    <option value="HOU">Houston Texans</option>
                    <option value="IND">Indianapolis Colts</option>
                    <option value="JAX">Jacksonville Jaguars</option>
                    <option value="KC">Kansas City Chiefs</option>
                    <option value="MIA">Miami Dolphins</option>
                    <option value="MIN">Minnesota Vikings</option>
                    <option value="NE">New England Patriots</option>
                    <option value="NO">New Orleans Saints</option>
                    <option value="NYG">New York Giants</option>
                    <option value="NYJ">New York Jets</option>
                    <option value="OAK">Oakland Raiders</option>
                    <option value="PHI">Philadelphia Eagles</option>
                    <option value="PIT">Pittsburgh Steelers</option>
                    <option value="SD">San Diego Chargers</option>
                    <option value="SEA">Seattle Seahawks</option>
                    <option value="SF">San Francisco 49ers</option>
                    <option value="STL">Saint Louis Rams</option>
                    <option value="TB">Tampa Bay Buccaneers</option>
                    <option value="TEN">Tennessee Titans</option>
                    <option value="WAS">Washington Redskins</option>
                </select>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="playchoice1">Play Choice 1:</label>
                        <select class="form-control" id="playchoice1" ng-model="playchoice1" ng-init="playchoice1='pass'">
                            <option value="pass">Pass</option>
                            <option value="middlerun">Run up the middle</option>
                            <option value="outsiderun">Outside run</option>
                            <option value="fieldgoal">Field goal attempt</option>
                            <option value="punt">Punt</option>
                            <option value="twopoint">Two Point attempt</option>
                            <option value="extrapoint">Extra Point attempt</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="playchoice2">Play Choice 2:</label>
                        <select class="form-control" id="playchoice2" ng-model="playchoice2" ng-init="playchoice2='pass'">
                            <option value="pass">Pass</option>
                            <option value="middlerun">Run up the middle</option>
                            <option value="outsiderun">Outside run</option>
                            <option value="fieldgoal">Field goal attempt</option>
                            <option value="punt">Punt</option>
                            <option value="twopoint">Two Point attempt</option>
                            <option value="extrapoint">Extra Point attempt</option>
                        </select>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-default" ng-click="get_results(down, team, playchoice1, playchoice2)">Submit</button>
        </form>

        <img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none" class="img-responsive center-block" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <h2>{{results['title1']}}</h2>
                </div>
                <div class="col-xs-6">
                    <h2>{{results['title2']}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div id="results_div1">
                        <h3 ng-repeat="name in results.names1">{{results["pretty" + name] }}: {{ results[name] }}</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="results_div2">
                        <h3 ng-repeat="name in results.names2">{{results["pretty" + name] }}: {{ results[name] }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var app = angular.module('myApp', [])
    app.controller('customersCtrl', function($scope, $http) {
        $scope.results = [];

        $scope.get_results = function(down, team, playchoice1, playchoice2) {
            $('#loading-indicator').show();
            $scope.results = [];

            var start1 = 100 - $( "#slider-range-ydline" ).slider( "values", 0);
            var end1 = 100 - $( "#slider-range-ydline" ).slider( "values", 1);
            var start2 = 10 - $( "#slider-range-togo" ).slider( "values", 0);
            var end2 = 10 - $( "#slider-range-togo" ).slider( "values", 1);
            $http.get("/api/playexpectations?down=" + down
                            + "&togo_start=" + start2
                            + "&togo_end=" + end2
                            + "&ydline_start=" + start1
                            + "&ydline_end=" + end1
                            + "&team=" + team
                            + "&playchoice1=" + playchoice1
                            + "&playchoice2=" + playchoice2)
                    .success(function (response) {
                        $('#loading-indicator').hide();
                        for (i = 0; i < response['names1'].length; i++) {
                            response[["pretty" + response['names1'][i]]] = response['prettyNames'][i];
                        }
                        for (i = 0; i < response['names2'].length; i++) {
                            response[["pretty" + response['names2'][i]]] = response['prettyNames'][i];
                        }
                        $scope.results = response;
                    });
        };
    });
</script>

</body>
</html>
