<!DOCTYPE html>
<html>

<head>

    <title>NFL Situations</title>
    <meta charset="utf-8">

    <!--Scripts-->
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/website.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NFL Big Data</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/situations">Choose a Situation</a></li>
                <li><a href="/expectations">Check your expectations</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-app="myApp" ng-controller="customersCtrl">
    <div class="page-header">
            <h1>NFL Situational Statistics</h1>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="down">Down:</label>
                <select class="form-control" id="down" ng-model="down" ng-init="down='1'">
                    <option value="1">First Down</option>
                    <option value="2">Second Down</option>
                    <option value="3">Third Down</option>
                    <option value="4">Fourth Down</option>
                    <option value="0">Extra Point</option>
                </select>
            </div>
            <div class="form-group">
                <label for="togo">Yards to Go:</label>
                <select class="form-control" id="togo" ng-model="togo" ng-init="togo='10'" ng-disabled="down=='0'">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ydline">Yardline (In tens):</label>
                <select class="form-control" id="ydline" ng-model="ydline" ng-init="ydline='80'" ng-disabled="down=='0'">
                    <option value="100">Own: Goal line - 10</option>
                    <option value="90">Own: 10 - 20</option>
                    <option value="80">Own: 20 - 30</option>
                    <option value="70">Own: 30 - 40</option>
                    <option value="60">Own: 40 - 50</option>
                    <option value="50">Opp: 50 - 40</option>
                    <option value="40">Opp: 40 - 30</option>
                    <option value="30">Opp: 30 - 20</option>
                    <option value="20">Opp: 20 - 10</option>
                    <option value="10">Opp: 10 - Goal line</option>
                </select>
            </div>
            <div class="form-group">
                <label for="team">Team on Offense</label>
                <select class="form-control" id="team" ng-model="team" ng-init="team='ANY'">
                    <option value="ANY">Any Team</option>
                    <option value="ARI">Arizona Cardinals</option>
                    <option value="ATL">Atlanta Falcons</option>
                    <option value="BAL">Baltimore Ravens</option>
                    <option value="BUF">Buffalo Bills</option>
                    <option value="CAR">Carolina Panthers</option>
                    <option value="CHI">Chicago Bears</option>
                    <option value="CIN">Cincinnati Bengals</option>
                    <option value="CLE">Cleveland Browns</option>
                    <option value="DAL">Dallas Cowboys</option>
                    <option value="DEN">Denver Broncos</option>
                    <option value="DET">Detroit Lions</option>
                    <option value="GB">Green Bay Packers</option>
                    <option value="HOU">Houston Texans</option>
                    <option value="IND">Indianapolis Colts</option>
                    <option value="JAX">Jacksonville Jaguars</option>
                    <option value="KC">Kansas City Chiefs</option>
                    <option value="MIA">Miami Dolphins</option>
                    <option value="MIN">Minnesota Vikings</option>
                    <option value="NE">New England Patriots</option>
                    <option value="NO">New Orleans Saints</option>
                    <option value="NYG">New York Giants</option>
                    <option value="NYJ">New York Jets</option>
                    <option value="OAK">Oakland Raiders</option>
                    <option value="PHI">Philadelphia Eagles</option>
                    <option value="PIT">Pittsburgh Steelers</option>
                    <option value="SD">San Diego Chargers</option>
                    <option value="SEA">Seattle Seahawks</option>
                    <option value="SF">San Francisco 49ers</option>
                    <option value="STL">Saint Louis Rams</option>
                    <option value="TB">Tampa Bay Buccaneers</option>
                    <option value="TEN">Tennessee Titans</option>
                    <option value="WAS">Washington Redskins</option>
                </select>
            </div>

            <button type="submit" class="btn btn-default" ng-click="get_results(down, togo, ydline, team)">Submit</button>
        </form>

        <img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none" class="img-responsive center-block" />
        <div id="chart_div" style="width:100%;height:600px"></div>

    </div>
</div>

<script>

    var app = angular.module('myApp', [])
    app.controller('customersCtrl', function($scope, $http) {
        $scope.results = [];
        var chart;

        $scope.get_results = function(down, togo, ydline, team) {
            $('#loading-indicator').show();
            if (chart != null) {
                chart.clearChart();
            }

            $http.get("/api/playstats?down=" + down + "&togo=" + togo + "&ydline=" + ydline + "&team=" + team)
                    .success(function (response) {
                        $scope.results = response;
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Play');
                        data.addColumn('number', 'Plays');

                        for (i = 0; i < response['names'].length; i++) {
                            console.log(response['names'][i]);
                            data.addRow([response['prettyNames'][i], response[response['names'][i]]]);
                        }

                        // Set chart options
                        var options = {'title': response['title'],
                                        is3D: false,};

                        // Instantiate and draw our chart, passing in some options.
                        chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                        $('#loading-indicator').hide();
                        $('#chart-div').show();
                    });
        };
    });
</script>

</body>
</html>
